#main-body{
display: flex;
flex-direction: column;    
width: auto;
align-items: center;
height: auto;   
background-color: #484848;
font-size: large;
font-weight: bolder;
}

#height{  
width: 200px;
height: 30px;
border-radius: 7%;
box-shadow: 1px 1px 1px 1px black;
}

#weight{
width: 200px;
height: 30px;
border-radius: 7%;
box-shadow: 1px 1px 1px 1px black;  
}

.my-submit{
border-radius: 7%;
box-shadow: 1px 1px 1px 1px black;
cursor: pointer;
align-items: center;
}


#first-title{
font-size: xx-large;    
font-weight: bolder;
color: #FF5A5F;
}

#first-paragraph{
color: whitesmoke;
font-weight: bolder;
}

#second-body{
background-color: gray;
width: auto;
}

#heavy-title{
    
 cursor: pointer; 
}

#result{
font-weight: bolder;
color:#FF5A5F;
}