.main-body{
display: flex;
flex-direction: column;    
width: auto;
align-items: center;
height: auto;   
background-color: #484848;
font-size: large;
font-weight: bolder;
}

.apos{
font-size: 25px;
font-weight: bolder;
color: white;
}

#form{
margin-left: 250px;
}


#heights{
display: flex;
flex-direction: row;
}

#feet{  
width: 45px;
height: 30px;
border-radius: 7%;
box-shadow: 1px 1px 1px 1px black;
}

#inches{  
    width: 40px;
    height: 30px;
    border-radius: 7%;
    box-shadow: 1px 1px 1px 1px black;
 }

#weight{
width: 100px;
height: 30px;
border-radius: 7%;
box-shadow: 1px 1px 1px 1px black;  
}

.my-submit{
border-radius: 7%;
box-shadow: 1px 1px 1px 1px black;
cursor: pointer;
align-items: center;
}


#first-title{
font-size: xx-large;    
font-weight: bolder;
color: #FF5A5F;
}

#first-paragraph{
color: whitesmoke;
font-weight: bolder;
}

#second-body{
background-color: gray;
width: auto;
}

#heavy-title{
    
 cursor: pointer; 
}

#result{
font-size: 30px;    
font-weight: bolder;
color:#FF5A5F;
}

#advice{
font-weight: bolder;
color:#FF5A5F;
font-size: 20px;    
}